.sidebar--main--container{
   display: flex;
   flex-direction: column;
   padding: 1rem 0;
}
.sidebar-item-box{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: 12rem;
    border-radius: 0 1.5rem 1.5rem 0;
    transition: .4s ease-in-out;
}
.sidebar-item-box div:nth-child(2){
    color: white;
    font-size: 1.175rem;
}
.sidebar-item-box:hover{
    background-color: 	#C19A6B;

    cursor: pointer;
}